# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# testing
/coverage

# env
.env*
!.env.example

# debug
*-debug.log*
*.pem

# misc
.DS_Store
.vercel

# prisma
/src/generated/prisma
/prisma/*.db

# uploads
/public/uploads/*
!/public/uploads/.gitkeep